body, title {
    font-family: sans-serif;
    font-size: large;
    color: #183a1d;
    background-color: #fefbe9;
    margin-left: 150px;
    margin-right: 150px;
}

header {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: #e1eedd;
}

nav {
    text-align: center;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 70%;
    font-weight: normal;
    background-color: #e1eedd;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, sans-serif;
    text-align: center;
}

.emphasized {
    font-style: italic;
    text-align: center;
}

.bolded {
    font-weight: bold;
}

figure {
    text-align: center;
}

.larger-font {
    font-size: 150%;
}

.no-underline {
    text-decoration: none;
}

table, th, td {

    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: darkgrey;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

ol {
    display: table;
    margin: 0 auto;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.form
{
    text-align: center;
    font-family: sans-serif;
    background-color: #e1eedd;
    border-style: solid;
    margin-left: 350px;
    margin-right: 350px;
    padding: 10px;
}