<header>
    <h1>Blake McCarn | ITIS3135 | Bronze Meerkat</h1>

    <nav>
        <a href="./">Home</a>
        |
        <a href="introduction.html">Introduction</a>
        |
        <a href="contract.html">Contract</a>
        |
        <a href="tables.html">Tables</a>
        |
        <a href="forms.html">Forms</a>
        |
        <a href="website_evaluations.html">Website Evaluation</a>
        |
        <a href="brand-bronze-meerkat.html">Brand</a>
        |
        <a href="stuff/This_is_my_&CRAPPY&WEBSITE.htm">CRAP</a>
        |
        <a href="firstscripts.html">First Scripts</a>
        |
        <a href="polygon_activity.html">Polygon Activity</a>
    </nav>
</header>