<header>
    <h1>Blake McCarn | ITIS3135 | Bronze Meerkat</h1>

    <nav>
        <a href="./">Home</a>
        |
        <a href="introduction.html">Introduction</a>
        |
        <a href="contract.html">Contract</a>
        |
        <a href="tables.html">Tables</a>
        |
        <a href="forms.html">Forms</a>
        |
        <a href="website_evaluations.html">Website Evaluation</a>
        |
        <a href="firstscripts.html">First Scripts</a>
        |
        <a href="polygon_activity.html">Polygon Activity</a>
        |
        <a href="calculator_fcc.html">Calculator</a>
        |
        <a href="calculator_try.html">Calculator Try</a>
        |
        <a href="accessibility/mccarn-activity_accessibility.html">Accessibility Assignment</a>
        |
        <a href="activity10/mccarn_activity10.html">Image Swap</a>
        |
        <a href="activity11/mccarn_activity11.html">Accordion</a>
        |
        <a href="activity12/mccarn_activity12.html">Carousel</a>
        |
        <a href="arrays.html">Arrays</a>
        |
        <a href="project_rand.html">Project Design</a>
        |
        <a href="slideshow.html">Slideshow</a>
        |
        <a href="./hobby/index.html">Hobby</a>
        |
        <a href="./project/index.html">Project</a>
        |
        <a href="peer_review.html">Peer Review</a>
        |
        <a href="brand-bronze-meerkat.html">Brand</a>
        |
        <a href="stuff/This_is_my_&CRAPPY&WEBSITE.htm">CRAP</a>
    </nav>
</header>